<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <ul>
  <% @participants.each do |participant| %>
    <li><%= participant[:name] %> wants
      <ul>
        <% participant[:gifts].each do |gift| %>
          <li><%= gift %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<form action="/participants" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="text" name="person_to_destroy">
  <input type="submit" value="Delete that sucka">
</form>
</body>
</html>
