<form action="/participants" method="POST">
  <p>
    Enter Participant: <input type="text" name="participant[name]">
  </p>

  <p>
    Enter Desired Gifts: <input type="text" name="participant[gifts][]">
    and <input type="text" name="participant[gifts][]">
  </p>
  <input type="submit" value="Press Me!!">
</form>
